* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header, main, footer {
    width: 100%;
}

header, article, footer {
    transition-duration: 0.7s;
    transition-property: all;
    opacity: 0;
    visibility: hidden;
}

header {
    display: block;
    height: 100vh;
    background: url(./img/header.jpg) no-repeat;
    background-size: cover;
}

#headerShade {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,0.6250875350140056) 0%, rgba(255,255,255,0) 55%);
    display: flex;
    align-items: end;
    justify-content: end;
}

#headerLabel {
    color: white;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: right;
    font-family: VarelaRound;
    font-size: 5vh;
}

main {
    margin: 50px 0;
    
    /*height: 500vh;*/
}

#text {
    margin-left: 30px;
    font-family: VarelaRound;
    font-size: 4vh;
}

article {
    position: relative;
    left: -400px;
}

footer {
    background: #000000;
    height: 100vh;
}

.active {
    left: 0;
    right: 0;
    transition-duration: 0.7s;
    transition-property: all;
    opacity: 1;
    visibility: visible;
}

@font-face {
    font-family: "VarelaRound";
    src: url(./fonts/VarelaRound-Regular.woff) format('woff'),
         url(./fonts/VarelaRound-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}